*{
    margin: 0;
    background-image: url("https://t4.ftcdn.net/jpg/05/50/95/87/360_F_550958748_OeGcRonEUNoVhd0wjd9zSEMhLFIGO9Bt.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(9px);
    
}
.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    border: 2rem;

}
#date{
    font-family: monospace;
    font-size: 7.5rem;
    background:transparent;
    color:rgba(250, 5, 5, 0.507);
    border: 10rem;

}
#clock{
    font-family: monospace;
    font-size: 7.5rem;
    background:transparent;
    color:rgba(250, 5, 5, 0.507);
   
    
}